<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Title </title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
        <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        </ul>
      </div>
    </div>
  </header>

    <main>
        <section id="main_content_section" class="content container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 content-mid">
            <div id="flash-alert-container">
              <div id="flash-alert-container-errors">
              </div>
            </div>
            <div class="container">
            <br><br>
        <center>
            <h3> Please enter articles and wait for the answer to appear on the screen</h3>
            <br>
          <form action="/" class="form-inline" style="width: 100%;" method="post" id="form" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg input-lg" style="width: 100%;" placeholder="The name of company(ENGLISH ONLY!)" name="query" maxlength="125" required="" id="smpl_rr_input"><br>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" id="btn1" name="btn1" class="btn btn-primary btn-lg btnclr-light " style="width: 100%; margin-bottom:6px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Search</font></font></button><br>
                    </div>
                </div>
            </form>
            <a name="url">{{ response }}</a>
            <p>{{ response2 }}
            <p>{{ res }}</p>

        </center>
</div>
        </div>
      </div>
    </section>
    </main>

</body>
</html>
